<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Kinder Chat</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper" class="">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick="$('#menu-close').click()">Kinder Chat</a>
            </li>
            <li>
                <a href="#top" onclick="$('#menu-close').click();">Home</a>
            </li>
            <li>
                <a href="#about" onclick="$('#menu-close').click();">About</a>
            </li>
            <li>
                <a href="#services" onclick="$('#menu-close').click();">Apps</a>
            </li>
            <li>
                <a href="#contact" onclick="$('#menu-close').click();">Contact</a>
            </li>
        </ul>
    </nav>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
